<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
    />
    <title>Bank Full</title>
</head>
<body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
>
<main class="bg-white p-16 rounded-lg">
    <h1 class="text-3xl font-bold mb-8">
        Masukkan nilai berupa angka
    </h1>

    <form
            action="{{ url_for('predict') }}"
            method="post"
            class="flex flex-col"
    >
        <label for="age" class="mb-2">Age</label>
        <input id="age"
               type="text"
               name="age"
               placeholder="age"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="job" class="mb-2">Job</label>
        <input id="job"
               type="text"
               name="job"
               placeholder="job"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="marital" class="mb-2">Marital</label>
        <input id="marital"
               type="text"
               name="marital"
               placeholder="marital"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="education" class="mb-2">Education</label>
        <input id="education"
               type="text"
               name="education"
               placeholder="education"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="default" class="mb-2">Default</label>
        <input id="default"
               type="text"
               name="default"
               placeholder="default"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="balance" class="mb-2">Balance</label>
        <input id="balance"
               type="text"
               name="balance"
               placeholder="balance"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="housing" class="mb-2">Housing</label>
        <input id="housing"
               type="text"
               name="housing"
               placeholder="housing"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="loan" class="mb-2">Loan</label>
        <input id="loan"
               type="text"
               name="loan"
               placeholder="loan"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="contact" class="mb-2">Contact</label>
        <input id="contact"
               type="text"
               name="contact"
               placeholder="contact"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="day" class="mb-2">Day</label>
        <input id="day"
               type="text"
               name="day"
               placeholder="day"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="month" class="mb-2">Month</label>
        <input id="month"
               type="text"
               name="month"
               placeholder="month"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="duration" class="mb-2">Duration</label>
        <input id="duration"
               type="text"
               name="duration"
               placeholder="duration"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="campaign" class="mb-2">Campaign</label>
        <input id="campaign"
               type="text"
               name="campaign"
               placeholder="campaign"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="p_days" class="mb-2">P Days</label>
        <input id="p_days"
               type="text"
               name="p_days"
               placeholder="p_days"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="previous" class="mb-2">Previous</label>
        <input id="previous"
               type="text"
               name="previous"
               placeholder="previous"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <label for="p_outcome" class="mb-2">P Outcome</label>
        <input id="p_outcome"
               type="text"
               name="p_outcome"
               placeholder="p_outcome"
               required="required"
               class="p-4 bg-gray-100 rounded-md"
        />

        <button
                type="submit"
                class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
        >
            PREDIKSI SEKARANG
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-right ml-4"
            >
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>
    </form>
</main>
<section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
    <div class="bg-white p-16 rounded-lg">
        <h1 class="text-2xl mb-8">
            Output
        </h1>
        <h2 class="text-5xl font-bold">Number = {{ result }}</h2>
        {% if (result) != 0 %}
        <div class="mt-8">
            <p>Age       : {{ age }}</p>
            <p>Job       : {{ job }}</p>
            <p>Marital   : {{ marital }}</p>
            <p>Education : {{ education }}</p>
            <p>Default   : {{ default }}</p>
            <p>Balance   : {{ balance }}</p>
            <p>Housing   : {{ housing }}</p>
            <p>Loan      : {{ loan }}</p>
            <p>Contact   : {{ contact }}</p>
            <p>Day       : {{ day }}</p>
            <p>Month     : {{ month }}</p>
            <p>Duration  : {{ duration }}</p>
            <p>Campaign  : {{ campaign }}</p>
            <p>P Days    : {{ p_days }}</p>
            <p>Previous  : {{ previous }}</p>
            <p>P Outcome : {{ p_outcome }}</p>
        </div>
        {% endif %}
    </div>
    <div class="flex justify-around bg-white p-16 rounded-lg mt-8">
        <img
                class="h-24 md:h-28"
                src="https://www.unikom.ac.id/img/logo_unikom_kuning.png"
                alt="logo-dts"
        />
        <img
                class="h-24 md:h-28"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg/604px-Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg.png"
                alt="logo-kominfo"
        />
    </div>
</section>
</body>
</html>
